@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}

::-webkit-scrollbar {
  width: 0.5rem;
  height: 0.3rem;
}

::-webkit-scrollbar-track {
  background: rgb(24 24 27);
}

::-webkit-scrollbar-thumb {
  background: #e50914;
  cursor: pointer;
  border-radius: 0.25rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #880309;
}

@layer base {
  body {
    @apply bg-zinc-900 text-white;
  }
}

iframe body {
  width: 100%;
}
