@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: sans-serif;
}

@keyframes expand {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.show-search {
  animation-name: expand;
  animation-duration: 0.2s;
}
